<h1>Ejemplos PIPES nativos de Angular</h1>

<!-- Fechas -->
<h2>Pipes para Fechas</h2>
<p>Mi cumpleaños: {{ dob }}</p>
<p>Mi cumpleaños con PIPE DATE basico es: {{ dob | date }}</p>
<p>Mi cumpleaños con PIPE DATE "dd/mm/yyyy" es: {{ dob | date: "dd/MM/yyyy" }}</p>
<p>Mi cumpleaños con PIPE DATE short/Full es: {{ dob | date: "shortDate" }}</p>
<p>Mi cumpleaños con PIPE DATE short/Full es: {{ dob | date: "fullDate" }}</p>
<p>Mi cumpleaños con PIPE DATE short/Full es: {{ dob | date: dateFormat }}</p>
<button (click)="cambioFormato()">Cambio Formato a {{ cambio? 'Full': 'Short' }}</button>

<p>Mi cumpleaños con PIPE DATE short/Full MAYUSCULAS: {{ dob | date: dateFormat | uppercase }}</p>
<p>Mi cumpleaños con PIPE DATE short/Full Minusculas: {{ dob | date: dateFormat | lowercase }}</p>