<!-- Formulario reactivo básico-->
<form [formGroup]="miFormulario">

    <!-- Previsualización de los valores del formulario-->
    <h2>Datos en vivo del Formulario:</h2>
    <!-- Usaremos un pipe de Angular de tipo JSON para pasar el objeto a un JSON y mostrarlo -->
    <p> {{ miFormulario.value | json }}</p>
    <!-- campos del formulario -->
    <mat-form-field>
        <input matInput placeholder="Nombre" formControlName="nombre">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Apellidos" formControlName="apellidos">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Teléfono" formControlName="telefono">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Dirección" formControlName="direccion">
    </mat-form-field>
</form>
